@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0f0f0;
}

.calculator{
    width: 18.5rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0f848e;
    border-radius: .5rem;
    padding: .35rem;
    border: .1rem solid #012880;
    box-shadow: 0 9px 8px 3px rgba(0,0,0,0.43);

}
.calculator__hr{
    background-color: #17c4d3;
    height: .2rem;
    border: none;
    margin: 0 .1rem .5rem;
}
.calculator__h1{
    text-transform: uppercase;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
    text-shadow: -1px -1px 1px rgba(23, 196, 211, 1);
    padding: .85rem;
    font-size: 1.8rem;
}
.calculator-screen{
    background-color: #0d6f77;
    color: #ffffff;
    padding: .75rem;
    margin: .5rem 0;
    text-align: right;
    letter-spacing: .1rem;
    border: 1px solid #012880;
    border-radius: .25rem;
    font-size: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
}


button {
	cursor: pointer;
	border-radius: .25rem;
	font-size: 1.1rem;
    color: #ffffff;
	border: 1px solid #012880;
    background-image: linear-gradient(-180deg, #17c4d3 0%, #18a1ad 100%);
    transition: transform 75ms linear, border 50ms linear;
    outline: none;
}
button span {
    font-weight: 500;
    pointer-events: none;
} 
button:hover{
    transform: scale(.985);
    border: .165rem solid #012880;

}
button:active{
    transform: scale(.975);
    border: .175rem solid #012880;
}
.pushed{
    transform: scale(.975);
    border: .175rem solid #012880;
}
.calculator-functions{
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4rem 4rem 4rem 4rem 4rem;
}

#AC{
    grid-column-start: 1;
    grid-column-end: 3;
}
.equal{
    grid-column: 3 / 5;
}